<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <!-- Source Library -->
  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <!-- Semantic -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
  <!-- Title Bar -->
  <div id="title" class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        W-FTP
      </h1>
      <h2>Light, convenient, web based FTP</h2>
      <div class="ui centered grid icons">
        <div class="one wide column">
          <i class="github icon"></i>
        </div>
        <div class="one wide column">
          <i class="user outline icon"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Container -->
  <table class="ui celled striped collapsing sortable table">
    <thead>
      <tr>
        <th>File name</th>
        <th>Upload Time</th>
        <th>File Size</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td>
          <i class="file outline icon"></i>{{ file.filename }}
        </td>
        <td class="center aligned">{{ file.time }}</td>
        <td class="center aligned">{{ file.size }}</td>
        <td class="center aligned">
          <div class="ui blue button">Download</div>
          <div class="ui red button">Delete</div>
        </td>
      </tr>
      {% else %}
      <tr>
        <td class="center aligned"> No Files </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div class="ui green right floated small button">
            Upload File
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</body>

<!-- Custom Library -->
<script src="/static/js/table-sort.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/index.css">

</html>