body {
  background: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%);
}

.grid {
  height: 100%;
  margin: 0 auto !important;
}

.grid .column {
  max-width: 400px;
  border-radius: 2%;
  background: rgba(255, 255, 255, 1);
  padding: 50px !important;
}

.grid .column .logo {
  max-width: 300px;
  margin-bottom: 50px;
}

.button {
  margin-top: 50px !important;
}