:root {
  /* variable for css */
  --t: 0;
}

/* Title bar */
#title {
  margin-bottom: 20px !important;
  padding-bottom: 20px;
}

#title .container {
  padding-top: 5px;
}

#title .container .logo {
  max-width: 400px;
}

#title .container p {
  font-size: 1.25em;
}

.wave {
  position: relative;
  background-color: rgb(118, 218, 255);
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  top: var(--t);
  left: 50%;
  background: rgba(255, 255, 255, .4);
  width: 200px;
  height: 200px;
  border-radius: 45%;
  transform: translate(-50%, -70%);
  animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  background: rgba(255, 255, 255, .8);
  border-radius: 47%;
  transform: translate(-50%, -70%);
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -73%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}

.size {
  padding: 0 !important;
}

.icon {
  font-size: 1.5em;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* File List */
table {
  margin: auto !important;
  min-width: 1000px;
}

table thead tr th {
  text-align: center !important;
  font-size: 1.5em;
}

table tbody tr td:first-child {
  font-size: 1.5em;
}

.file-icon {
  width: 24px;
  margin: 0 5px;
}

td>span {
  vertical-align: text-top;
}

/* Upload modal */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  max-width: 200px;
}

/* Upload File List */
#file-list .header {
  font-size: 2em;
}

#file-list .item {
  font-size: 1.25em;
}